.background {
	margin-left: 0;
	margin-right: 0;
	height: 100vh;
	background-image: url(/public/background.jpg);
}

.background h1 {
	color:#FFF;
	align: center;
}

.desk-region{
	height: 80vh;
}

.user-region{
	height: 20vh;
}

.fill-height {
	min-height: 100%;
	height: 100vh;
}

.fix {
	height: 100vh;
}